/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

/* Variáveis */
:root {
    --color1: #e41e1d;
    --color2: #f17e23;
    --color3: #fae9b9;
    --color4: #658ff3;
    --color5: #62c0f0;
    --color6: #40ae39;
    --color7: #FFF;
    --color8: #000;
}

/* Stilo global */
* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu Condensed', sans-serif !important; 
}

/* Logo */
#svgAlura {
    position: absolute;
    top: 30px;
    left: 30px;
    animation: float infinite 5s ease-in-out;
}

/* Estrutura */
body {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(45deg, var(--color4), var(--color5));
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

#header {
    grid-area: header;
    /* background-color: blue; */
}

#main {
    grid-area: main;
    min-height: calc(100vh - 140px);
    /* background-color: var(--color1); */
}

#footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    /* background-color: #FFF; */
}

#footer p {
    font-size: 25px;
    margin: 0 12px;
    color: var(--color7);
}

#footer a {
    color: unset;
    text-decoration: unset;
}

#footer p i {
    margin-right: 5px;
}

/* Container */
.container-md {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Estrura esconder global */
#menu.hidden,
#addWord.hidden,
#game.hidden {
    display: none;
}

/* Menu */
#menu {
    width: 300px;
    background-color: var(--color7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    border-radius: 15px;
}

#menu p {
    background-image: linear-gradient(45deg, var(--color4), var(--color5));
    color: var(--color8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 600;
}

#menu button {
    width: 80%;
    margin: 10px 0;
    padding: 5px 0;
    border: unset;
    border-radius: 10px;
    font-size: 25px;
    color: var(--color7);
    background-image: linear-gradient(45deg, var(--color4), var(--color5));
}

#menu button:hover {
    box-shadow: 0 0 30px var(--color5);
    transform: scale(1.05);
}

/* Adicionar palavra */
#addWord {
    background-color: var(--color7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    border-radius: 15px;
    width: 350px;
}

#addWord > p {
    background-image: linear-gradient(45deg, var(--color4), var(--color5));
    color: var(--color8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 600;
}

#addWord .input-group {
    margin-top: 10px;
}

#addWord .input-group input {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

#addWord .input-group span {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
}

#addWord .input-group.is-valid span {
    background-color: var(--color6);
    color: var(--color7);
}

#addWord .input-group.is-invalid span {
    background-color: var(--color1);
    color: var(--color7);
}

#addWord .input-group > * {
    font-size: 16px;
}

#addWord #divActionsHint {
    margin-top: 20px;
    display: flex;
}

#addWord #divActionsHint button {
    border: unset;
    background-color: unset;
    margin: 0 10px;
    font-size: 30px;
    background-image: linear-gradient(45deg, var(--color4), var(--color5));
    color: var(--color8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#addWord #divActionsHint button:hover {
    box-shadow: 0 0 30px var(--color7);
    transform: scale(1.05);   
}

#addWord #divAddWordActions {
    margin-top: 20px;
}

#addWord #divAddWordActions button {
    width: 80px;
    border: unset;
    padding: 5px 0;
    margin: 0 10px;
    border-radius: 10px;
    font-size: 20px;
    color: var(--color7);
    background-image: linear-gradient(45deg, var(--color4), var(--color5));
}

#addWord #divAddWordActions button:hover {
    box-shadow: 0 0 30px var(--color7);
    transform: scale(1.05);
}

#showAlert {
    background-color: var(--color7);
    border-radius: 10px;
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 15px;
    -webkit-box-shadow: 6px 4px 15px 3px rgba(0,0,0,0.45); 
    box-shadow: 6px 4px 15px 3px rgba(0,0,0,0.45);
    animation: showAlert 1s ease-in-out;
}

#showAlert p {
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
}

#showAlert.hit p {
    color: var(--color6);
}   

#showAlert.error p {
    color: var(--color1);
}

/* Jogo */
#game {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

/* Forca */
#game #hangman {
    position: relative;
    /* background-color: blue; */
}

#game #hangman #hangmanImg {
    width: 400px;
}

#game #hangman #imgPuppet {
    position: absolute;
    top: 57%;
    left: 49%;
    transform: translate(-50%, -50%);
    height: 260px;
}

/* Teclado */
#game #keyboard {
    /* background-color: yellow; */
    width: 500px;
    margin-top: 25px;
    animation: showKeyboard 1s ease-in-out;
}

#game #keyboard.hidden {
    display: none;
}

#game #keyboard .line {
    display: flex;
    justify-content: center;
}

#game #keyboard .line button {
    border: none;
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    color: var(--color5);
}

#game #keyboard .line button:hover {
    box-shadow: 0 0 30px var(--color7);
    transform: scale(1.15);
}

#game #keyboard .line .error {
    background: linear-gradient(45deg, var(--color1), var(--color2));
    color: var(--color7);
}

#game #keyboard .line .error:hover {
    box-shadow: 0 0 10px var(--color2);
}

#game #keyboard .line .hit {
    background: linear-gradient(45deg, var(--color3), var(--color7));
    color: var(--color6);
}

#game #keyboard .line .hit:hover {
    box-shadow: 0 0 10px var(--color3);
}

#game #keyboard .line .error:hover,
#game #keyboard .line .hit:hover {
    transform: unset;
    cursor: no-drop;
}

/* Word */
#word {
    margin-top: 20px;
    /* background-color: yellow; */
    min-height: 50px;
    display: flex;
    justify-content: center;
    min-width: 100px;
}

#word input {
    border: none;
    width: 30px;
    border-bottom: 3px solid var(--color7);
    padding: 2px 5px;
    font-size: 30px;
    margin: 0 5px;
    background-color: transparent;
    text-align: center;
    outline: none;
    font-weight: bold;
    color: var(--color7);
    cursor: default;
}

/* Modificar palavra quando aver um acerto */
/* #word.hit input {
    
} */

/* Ações */
#actions {
    margin-top: 25px;
    /* background-color: yellow; */
    display: flex;
}

#actions button {
    border: none;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px 25px;
    font-size: 30px;
    margin: 0 10px;
    border-radius: 5px;
    color: var(--color5);
    font-weight: bold;
}

#actions button:hover {
    box-shadow: 0 0 30px var(--color7);
    transform: scale(1.1);
}

/* Dica */
#hint {
    height: 85px;
    min-width: 20px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#hint.toggle #toggleHint {
    display: none;
}

#hint > p {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
}

#hint * {
    color: var(--color7);
}

#hint div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#hint div:hover {
    cursor: pointer;
}

#hint div #toggleHint {
    margin: 0;
    padding: 0;
    user-select: none;
    font-size: 40px;
    padding: 10px 15px;
    margin: 0;
}

#hint i {
    font-size: 40px;
}

#hint.toggle #eye-alt {
    display: block !important;
}

#hint.toggle #eye-alt:hover {
    text-shadow: 0 0 20px var(--color7);
}

#hint.toggle #eye-open {
    display: none;
}

/* Mostrar mensagem de erro e acertos */
#containerShowLostWinMsg {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%,-50%);
}

#divShowLostWinMsg {
    margin: auto;
    top: 0px;
    background-color: var(--color7);
    border-radius: 5px;
    min-width: 250px;
    padding: 15px 10px;
    opacity: 100%;
    transform: translateY(0);
    animation: showLostWinMsg 1s ease-in-out;
}

#divShowLostWinMsg > * {
    width: 100%;
}

#divShowLostWinMsg p {
    text-align: center;
}

#divShowLostWinMsg .msg {
    font-size: 30px;
}

#divShowLostWinMsg .msg.error {
    color: var(--color1);
}

#divShowLostWinMsg .msg.hit {
    color: var(--color6);
}

#divShowLostWinMsg .info {
    font-size: 25px;
    color: var(--color5);
}

#divShowLostWinMsg div {
    display: flex;
    justify-content: center;
}

#divShowLostWinMsg div button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: var(--color7);
    background: linear-gradient(45deg, var(--color4), var(--color5));
    font-size: 18px;
}

#divShowLostWinMsg div button:hover {
    box-shadow: 0 0 10px var(--color5);
    transform: scale(1.05);
}

/* Animações */
@keyframes float {
    0%,100%{
		transform:translatey(0);
	}

	50%{
		transform:translatey(-20px);
	}
}

@keyframes showKeyboard {
    0%{
		opacity: 0;
	}

	80%{
		opacity: 100%;
	}
}

@keyframes showLostWinMsg {
    0%{
		opacity: 0%;
        transform: translateY(-50px);
	}
    
    100%{
		opacity: 100%;
        transform: translateY(0);
	}
}

@keyframes showAlert {
    0%{
		opacity: 0%;
	}
    
    100%{
		opacity: 100%;
	}
}