/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

/* Variáveis */
:root {
    --color1: #e41e1d;
    --color2: #f17e23;
    --color3: #fae9b9;
    --color4: #658ff3;
    --color5: #62c0f0;
    --color6: #FFF;
    --color7: #000;
}

/* Stilo global */
* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu Condensed', sans-serif !important; 
}

/* Logo */
#svgAlura {
    margin-left: 10px;
}

/* Estrutura */
body {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(45deg, var(--color4), var(--color5));
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 1fr 40px;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
}

#header {
    grid-area: header;
    /* background-color: blue; */
}

#main {
    grid-area: main;
    min-height: calc(100vh - 120px);
    /* background-color: var(--color1); */
}

#footer {
    grid-area: footer;
    /* background-color: yellow; */
}

/* Game */
#game {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Forca */
#game #hangman {
    position: relative;
    /* background-color: blue; */
}

#game #hangman #hangmanImg {
    width: 600px;
}

#game #hangman #imgPuppet {
    position: absolute;
    top: 57%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    height: 260px;
}

/* Teclado */
#game #keyboard {
    background-color: yellow;
    width: 500px;
    margin-top: 25px;
}

#game #keyboard .line {
    display: flex;
    justify-content: center;
}

#game #keyboard .line button {
    border: none;
    width: 50px;
    height: 50px;
    margin: 2px;
    font-size: 30px;
}

#game #keyboard .line button:hover {
    transform: scale(1.15);
}

#game #keyboard .line .error {
    background-color: #e41e1d;
}

#game #keyboard .line .hit {
    background-color: #f17e23;
}

#game #keyboard .line .error:hover,
#game #keyboard .line .hit:hover {
    transform: unset;
    cursor: no-drop;
}

/* Word */
#word {
    background-color: yellow;
    /* height: 50px; */
    display: flex;
    justify-content: center;
    width: 500px;
}

#word input {
    border: none;
    width: 30px;
    border-bottom: 2px solid black;
    padding: 2px 5px;
    font-size: 30px;
    margin: 0 5px;
    background-color: transparent;
    text-align: center;
    outline: none;
}

/* Ações */
#actions {
    margin-top: 25px;
    background-color: yellow;
    display: flex;
}

#actions button {
    border: none;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px 25px;
    font-size: 30px;
    margin: 0 10px;
}

/* Dica */
#tip {
    margin-top: 25px;
    background-color: yellow;
}

#game #tip p {
    font-size: 30px;
    padding: 10px 15px;
    margin: 0;
}